<?xml version="1.0"?>
<model>
    <name>Four Wheeled Robot</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>

    <author>
        <name>Angel Soto Pellot</name>
        <email>asoto22@masonlive.gmu.edu</email>
    </author>

    <description>
        This is a Robot with four fully actuated wheels.
        It's based on Dan Lofero's differential drive robot design.
    </description>
</model>